*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: black;
}
.row-poster{
width: 100%;
max-height: 100px;
object-fit: contain;
margin-right: 10px;
transition: transform 450ms;

}
.row-posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
   


}
.row-poster:hover{
    transform: scale(1.10);
}
.row-posters::-webkit-scrollbar{
    display: none;
}
.row-posterlarge{
    max-height: 250px;
}
.row-posterlarge:hover{
    transform: scale(1.10);
}
.row{
    color: white;
    margin-left: 15px;
}
.banner{
    background: url(../img/banner.jpg);
    background-size: cover;
    color: white;
    height: 450px;
    object-fit: contain;
}
.banner-contents{
    margin-left: 30px;
    height: 200px;
    padding-top: 130px;
    
}
.banner-title{
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 10px;
}
.banner-description{
    width: 30rem;
    font-size: 14px;
    padding-top: 1rem;
    line-height: 1.2rem;
}
.banner-button{
    background-color: rgb(52,51,51,0.7);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.nav-logo{
    width: 80px;
}
.nav-avator{
width: 30px;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.banner-fade{
    background:linear-gradient(180deg,transparent,rgb(38, 38, 38,0.61),#111);
    height: 7.5rem;
margin-top: 135px
}